<footer class="footer bg-dark py-3 mt-auto bg-primary">
    <div class="container">
        <span class="text-muted">&copy; Cargi 2022 by Nano Villarreal <br> Contacto:<a
                href="tel: +15129654086">+15129654086</a></span>
    </div>
</footer>