@font-face {
    font-family: 'CoolFont';
    src: url('./YaroRg-Bold.ttf') format('truetype');
}

body {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./graph.png"); */
    background-image:
        url("./rest_bkgrnd.png");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); */
}

#menuContainer {
    display: inline-block;
    width: 300px;
    overflow-x: scroll;
    white-space: nowrap;
}

#menuContainer button {
    display: inline-block;

}

html * {
    font-family: 'CoolFont', sans-serif;
}

.Cool,
.Cool {
    font-family: 'CoolFont', sans-serif;
}

h2,
h3 {
    font-family: 'CoolFont', sans-serif;
    font-weight: 500;
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;

}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
}