<% layout('layouts/boilerplate')%>


    <div class="container">
        <div>
            <a href="/business_news">Business Catalog</a>
            <a href="/policy_news">Policy Catalog</a>
            <a href="/markets_news">Markets Catalog</a>
            <a href="/consensus_news">Consensus Catalog</a>
        </div>
        <div class="row">
            <div class="mt-6 col-10">

                <% for (let i=0; i < each_new.length; i++){ %>
                    <p>
                        <a href="<%=each_new[i].link%>">Link to article</a>
                    <H2>
                        <%=each_new[i].title%>
                    </H2>
                    <div>
                        <%=each_new[i].summary%>
                    </div>
                    <%}%>
                        </p>
            </div>



        </div>
    </div>