<% layout('layouts/boilerplate')%>


    <div class="container">
        <div>
            <a href="/business_news" class="btn btn-outline-secondary btn-md mb-2 mr-4">Business Catalog</a>
            <a href="/policy_news" class="btn btn-outline-secondary btn-md mb-2 mr-4">Policy Catalog</a>
            <a href="/markets_news" class="btn btn-outline-secondary btn-md mb-2 mr-4">Markets Catalog</a>
            <a href="/consensus_news" class="btn btn-outline-secondary btn-md mb-2 mr-4">Consensus Catalog</a>
        </div>
        <div class="row">
            <div class="mt-6 col-10">

                <% for (let i=0; i < links.length; i++){ %>
                    <p>
                        <a href="<%=links[i]%>">
                            <h1>
                                <%=titles[i]%>
                            </h1>
                        </a>
                    <div>
                        <%=articles[i]%>
                    </div>
                    <br>
                    <%}%>
                        </p>
            </div>



        </div>
    </div>