<% layout('layouts/boilerplate')%>


    <div class="container">
        <div class="row">
            <div class="mt-6 col-4">

                <% for (let i=0; i < links.length; i++){ %>
                    <p>
                        <a href="<%=links[i]%>">Link to article</a>
                    <div>
                        <%=articles[i]%>
                    </div>
                    <%}%>
                        </p>
            </div>



        </div>
    </div>