<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">


    <div class="row">
        <div class="col-6">
            <div>
                <h3>
                    No Hay Articulos En La Cuenta
                </h3>
            </div>